<div class="row" style="opacity: 1;">
    <div class="col-lg-12">

        <div id="error-box">
            <div class="row">
                <div class="col-xs-12" style="min-height: 900px;">
                    <div id="error-box-inner">
                        <img src="/cube/img/error-404-v2.png" alt="Have you seen this page?">
                    </div>
                    <h1>Ошибка 404</h1>
                    <p>
                        Страница не найдена.
                    </p>
                    <p>
                        Вернуться <a href="/">на главную</a>.
                    </p>
                </div>
            </div>
        </div>

    </div>
</div>