<div class="row">
	<div class="col-lg-12">
		<div class="main-box no-header clearfix">
			<header class="main-box-header clearfix">
				<h2>Настройки фильтра
				</h2>
			</header>
			<div class="main-box-body clearfix">
				<div class="" id="top">
					<div class="row webhooks__filters">
						<div ng-class="{'has-error' : nameError}" class="col-lg-2">
							<input type="text" class="form-control"  placeholder="Название фильтра" ng-model="filterName">
						</div>
						<div class="col-lg-2" ng-class="{'has-error' : noFilter}">
							<input type="text" class="form-control" placeholder="Поиск" ng-model="search" ng-keyup="changeFilter()">
						</div>

						<div class="col-lg-2" ng-class="{'has-error' : noFilter}">
							<select class="form-control" ng-model="country" ng-change="changeFilter('country')"  ng-options="country.id as country.aName  for country in countries">
								<option value="" >{{countryPlaceholder}}</option>
							</select>
						</div>

						<div class="col-lg-2" ng-class="{'has-error' : noFilter}">
							<select class="form-control" ng-model="region" ng-change="changeFilter('region')"  ng-options="region.id as region.aName for region in regions | filter:shouldShowRegion">
								<option value="" >{{regionPlaceholder}}</option>
							</select>
						</div>

						<div class="col-lg-2" ng-class="{'has-error' : noFilter}">
							<select class="form-control" ng-model="city" ng-change="changeFilter('city')"  ng-options="location.id as location.aName for location in locations | filter:shouldShowCity">
								<option value="" >{{cityPlaceholder}}</option>
							</select>
						</div>
						<div class="col-lg-2" ng-class="{'has-error' : noFilter}">
							<select class="form-control" ng-model="theme" ng-change="changeFilter()" ng-options="theme.mlg_id as theme.title for theme in themes">
								<option value="" >{{themePlaceholder}}</option>
							</select>
						</div>
					</div>
					<div class="row webhooks__filters">
						<div class="checkbox-nice col-lg-2" style="margin-left: 7px;">
							<input type="checkbox" id="checkbox-1" ng-model="send_notification" ng-checked="send_notification">
							<label for="checkbox-1">
								Получать уведомления
							</label>
						</div>
						<div class="col-lg-2">
							<button class="btn btn-success col-lg-12" ng-click="saveFilter()">
								Сохранить
							</button>
						</div>
						<div class="col-lg-2">
							<button class="btn btn-default col-lg-12" ng-click="dropFilter()">
								Удалить фильтр
							</button>
						</div>
					</div>
					<div ng-include='"views/common/messages.html"'></div>
					<div ng-include='"views/common/loader.html"'></div>
					<div ng-include='"views/common/potentialTable.html"'></div>
				</div>
				<div ng-include='"views/common/potentialPagination.html"'></div>
			</div>
			</div>
		</div>
	</div>
</div>