<div class="row">
    <div class="col-lg-12">
        <ol class="breadcrumb">
            <li><a href="">Главная</a></li>
            <li class="active"><span>История</span></li>
        </ol>
        <br>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="main-box clearfix">
            <header class="main-box-header clearfix">

            </header>
            <div class="tabs-wrapper">
                <ul class="nav nav-tabs">
                    <li ng-class="{'active' : allPlane}"><a ng-click="setAll()">Все посты</a></li>
                    <li ng-class="{'active' : plannedPlane}"><a ng-click="setPlanned()">Запланированные посты</a></li>
                </ul>
                <div class="tab-content">
                    <div ng-class="{'active in' : allPlane}" class="tab-pane fade" id="tab-all">
                        <div class="table-responsive" id="top">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th class="text-center"><a href="" ng-click="changeOrder()" class="{{order}}"><span>Дата публикации</span></a></th>
                                    <th class="text-center"><span>Содержимое поста</span></th>
                                    <th class="text-center"><span>Превью</span></th>
                                    <th class="text-center"><span>Аккаунты</span></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="element in history" ng-include='"views/common/historyTable.html"'></tr>
                                </tbody>
                            </table>
                        </div>
                        <div ng-include='"views/common/historyPagination.html"'></div>
                    </div>
                    <div ng-class="{'active in' : plannedPlane}" class="tab-pane fade" id="tab-planned">
                        <div class="table-responsive" id="topPlanned">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th class="text-center"><a href="" ng-click="changeOrder()" class="{{order}}"><span>Дата публикации</span></a></th>
                                    <th class="text-center"><span>Содержимое поста</span></th>
                                    <th class="text-center"><span>Превью</span></th>
                                    <th class="text-center"><span>Аккаунты</span></th>
                                </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="element in planned" ng-include='"views/common/historyTable.html"'></tr>
                                </tbody>
                            </table>
                        </div>
                        <div ng-include='"views/common/historyPlannedPagination.html"'></div>
                    </div>
                </div>
            </div>
            <div class="main-box-body clearfix">

            </div>
        </div>
    </div>
</div>