<div class="row" id="user-profile">
    <div class="col-lg-9 col-md-8 col-sm-8">
        <div class="main-box clearfix">
            <div class="tabs-wrapper profile-tabs">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#tab-newsfeed" data-toggle="tab" aria-expanded="true">Оповещения</a></li>
                </ul>

                <div class="tab-content">
                    <div class="tab-pane active in" id="tab-newsfeed">

                        <div id="newsfeed">
                            <div ng-repeat="notification in userNotifications" class="story">
                                <div class="story-user">
                                    <a href="#">
                                        <img src="img/samples/robert-300.jpg" alt="">
                                    </a>
                                </div>

                                <div class="story-content">
                                    <header class="story-header">
                                        <div class="story-author">
                                            <a href="#" class="story-author-link">
                                                {{notification.peer_title}}
                                            </a>
                                            posted a status update
                                        </div>
                                        <div class="story-time">
                                            <i class="fa fa-clock-o"></i>
                                            {{notification.created_at}}
                                        </div>
                                    </header>
                                    <div class="story-inner-content">
                                        {{notification.text}}
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>