<div class="row" style="opacity: 1;">
    <div class="col-lg-12">

        <div class="row">
            <div class="col-lg-12">
                <ol class="breadcrumb">
                    <li><a href="/">Главная</a></li>
                    <li><a href="/#/tariffs">Тарифы</a></li>
                    <li class="active"><span>{{tariff.title}}</span></li>
                </ol>

                <h1></h1>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6">
                <div class="main-box clearfix" ng-show="!pay">
                    <header class="main-box-header clearfix">
                        <h2>Подтверждение оплаты</h2>
                    </header>
                    <div class="form-group">
                        <div class="row">
                            <div class="row" style="margin-bottom: 15px;">
                                <div class="col-lg-3 col-lg-offset-1">
                                    <h4>Услуга</h4>
                                </div>
                                <div class="col-lg-6">
                                    <h4>{{tariff.title}} {{count.value}} мес.</h4>
                                </div>
                            </div>
                            <div class="row" style="margin-bottom: 15px;">
                                <div class="col-lg-3 col-lg-offset-1">
                                    <h4>Период</h4>
                                </div>
                                <div class="col-lg-6">

                                    <div class="radio" ng-repeat="type in monthArr">
                                        <input type="radio" name="optionsRadios" ng-model="count.value" id="optionsRadios{{type.count}}" value="{{type.count}}" ng-checked="type.active">
                                        <label for="optionsRadios{{type.count}}">
                                            {{type.count}} мес. - {{(tariff.cost * type.count * (1 - type.discount / 100) - balance).toFixed(2)}} р. <span class="label label-primary" ng-show="type.discount>0">Скидка {{type.discount}}%</span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <button type="button" ng-click="submit()" style="margin-left: 29px;" class="btn btn-success btn-lg">
                                Оплатить
                            </button>
                        </div>
                    </div>
                </div>
                <div class="main-box clearfix"  ng-show="pay" ng-bind-html="sce.trustAsHtml(payMarkUp)">
                </div>
            </div>
        </div>
    </div>
</div>