<div class="row">
	<div class="col-lg-12">
		<div class="main-box no-header clearfix" ng-show="webhooks.length==0">
			<img src="/cube/angularjs/img/loader.gif" style="margin-left: 35%;" alt="">
		</div>
		<div class="main-box no-header clearfix" ng-show="webhooks.length>0">
			<div class="main-box-body clearfix">
				<div class="table-responsive" id="top">
					<div class="row webhooks__filters">
						<div ng-class="{'has-error' : nameError}" class="col-lg-3">
							<input type="text" class="form-control"  placeholder="Название фильтра" ng-model="filterName">
						</div>
						<div class="col-lg-2" ng-class="{'has-error' : noFilter}">
							<input type="text" class="form-control" placeholder="Поиск" ng-model="search" ng-change="currentPage=0">
						</div>
						<div class="col-lg-2" ng-class="{'has-error' : noFilter}">
							<select class="form-control" ng-model="city" ng-change="changeFilter()">
								<option value="" selected>{{cityPlaceholder}}</option>
								<option value="{{location.id}}"  ng-repeat="location in locations">{{location.name}}</option>
							</select>
						</div>
						<div class="col-lg-2" ng-class="{'has-error' : noFilter}">
							<select class="form-control" ng-model="theme" ng-change="changeFilter()">
								<option value="" selected>{{themePlaceholder}}</option>
								<option value="{{theme.id}}"  ng-repeat="theme in themes">{{theme.name}}</option>
							</select>
						</div>
						<div class="col-lg-3">
							<button class="btn btn-success col-lg-12" ng-click="saveFilter()">
								Сохранить как новый фильтр
							</button>
						</div>
					</div>
					<table class="table user-list">
						<tbody>
							<tr ng-repeat="webhook in webhooks | filter:search | filter: { location : city } : true | filter: { theme : theme } : true | startFrom:currentPage*pageSize | limitTo:pageSize">
								<td>
									<div class="webhooks">
										<div class="ss {{webhook.socialValue.code.replace('.', '')}}"></div>
										<div class="webhooks__photo">
											<img src="{{webhook.author_image_url}}" alt=""/>
											<p class="webhooks__authorName">{{webhook.author_name}}</p>
											<time am-time-ago="webhook.created_at * 1000"></time>
										</div>

										<p ng-bind-html="sce.trustAsHtml(webhook.post_content)"></p>
										<div class="webhook__get">Получить контакт</div>
										<div class="webhook__datas">
											<ul>
												<li ng-show="webhook.author_url">Ссылка на профиль</li>
												<li ng-repeat="contact in webhook.contacts">{{contact.name}}</li>
											</ul>
										</div>
										<div class="webhooks__point">{{webhook.locationValue.name}}</div>
									</div>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="row">
					<div class="col-lg-6 col-lg-offset-3">
						<ul class="pagination pull-left" ng-show="(((webhooks| filter:search | filter: { location : city } : true | filter: { theme : theme } : true).length)/pageSize)>1">
							<li>
								<a href="" scroll-on-click ng-click="disabledBack()" ><i class="fa fa-chevron-left"></i></a>
							</li>
							<li ng-repeat="n in [] | range : (((webhooks| filter:search | filter: { location : city } : true | filter: { theme : theme } : true).length)/pageSize)"  ng-class="{active : n==currentPage}">
								<a href="" scroll-on-click class="active" ng-click="setPage(n)" ng-show="paginationBlock(n)">{{n+1}}</a>
							</li>
							<li>
								<a href="" scroll-on-click  ng-click="disabledNext()"><i class="fa fa-chevron-right"></i></a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			</div>
		</div>
	</div>
</div>