<div class="row">
    <div class="alert alert-success fade in" ng-show="filterSuccess">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true" >×</button>
        <i class="fa fa-check-circle fa-fw fa-lg"></i>
        Фильтр успешно сохранен.
    </div>
    <div class="alert alert-danger fade in" ng-show="filterError">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <i class="fa fa-times-circle fa-fw fa-lg"></i>
        <strong>Ошибка!</strong> Попробуйте позже.
    </div>
</div>