<table class="table user-list">
    <tbody>
        <tr ng-repeat="webhook in webhooks">
            <td>
                <div class="col-md-12 contact">
                    <div class="row">
                        <div class="col-md-2" style="text-align: center; margin-top: 5px; margin-bottom: 5px; font-size: 13px;">
                            <div class="">{{webhook.blogName.aBlogHost}}</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <div class="row">
                                <div class="col-md-6 col-md-offset-3 contact__text">
                                    <img class="contact__image" src="{{webhook.author_image_url ? webhook.author_image_url : '/cube/img/no-image-icon-md.png'}}" alt=""/>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 contact__text">
                                    {{webhook.author_name}}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 contact__text">
                                    <time am-time-ago="webhook.created_at * 1000"></time>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-7 contact__post">
                            <div class="row">
                                <div class="col-md-6">
                                    <h2 style="color: #03a9f4;">
                                        {{webhook.themeValue.name}}
                                    </h2>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12" style="word-break: break-word; ">
                                    <span ng-bind-html="sce.trustAsHtml(webhook.post_content)"></span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4 top-margin-10 bottom-margin-10">
                                    <span class="label label-success right-margin-10 ">{{webhook.categoryText}}</span>
                                </div>
                            </div>
                            <div class="row" ng-show="webhook.location">
                                <div class="col-md-12">
                                    <div class="webhooks__point"><i class="fa fa-map-marker" aria-hidden="true"></i>{{webhook.location}}</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="row">
                                <div class="col-md-9 col-md-offset-3 getBtn">
                                    <a class="btn btn-success col-lg-12" target="_blank" style="margin-bottom:10px;" href="{{webhook.post_url}}">
                                        Перейти к обсуждению
                                    </a>
                                    <a ng-click="dropContact(webhook.id)" class="btn btn-default col-lg-12" ng-show="webhook.favorite" >
                                        Удалить из избранного
                                    </a>
                                    <a ng-click="getContact(webhook.id)" class="btn btn-primary col-lg-12" ng-show="!webhook.favorite">
                                        Добавить в избранное
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
    </tbody>
</table>