<div class="col-lg-12">
    <div class="main-box clearfix">
        <header class="main-box-header clearfix"></header>

        <div class="main-box-body clearfix">
            <div class="alert alert-block alert-danger fade in">
                <h4>Контакт уже забронирован!</h4>
                <p>К сожалению контакт больше недоступен.</p>
                <p>
                    <a class="btn btn-danger" href="#/potential">Другие контакты</a>
                </p>
            </div>
        </div>
    </div>
</div>