#user-left-box {
    padding: 20px 15px 20px 0px;
}
#logo img{
    float: left;
}
#logo span{
    line-height: 30px;
    margin-left: 15px;
}
#header-navbar .profile-dropdown > span {
    float: left;
    display: block;
    margin-right: 3px;
    font-size: em;
    color: #fff;
    font-size: 0.875em;
    padding-left: 18px;
    padding-right: 18px;
    border: none;
    border-radius: 0;
    background-clip: padding-box;
    height: 50px;
    padding-top: 8px;
    padding-bottom: 7px;
    line-height: 35px;
}
#header-navbar .profile-dropdown > button{
    margin-top: 10px;
}
#header-navbar .nav > li > a > i, #sidebar-nav .nav > li > a > i {
    margin-right: 10px;
}
.disabled {
    cursor: not-allowed;
}
.webhooks{
    overflow:hidden;
    padding-bottom: 25px;
    border-top: 5px solid #78ddfc;
    border-bottom: 2px solid #ccc;
    border-left: 2px solid #ccc;
    border-right: 2px solid #ccc;
}
.webhooks .webhooks__photo{
    float: left;
    width: 100px;
    margin-left: 35px;
}
.webhooks .webhooks__photo img{
    width: 54px;
    height: 54px;
    float: left;
    margin-top: 33px;
    margin-left: 25px;
    border-radius: 100%;
}

.webhooks .webhooks__photo time{
    display: block;
    width: 100%;
    font-size: 12px;
    text-align: center;
    margin-top: 116px;
}


.webhooks .ss{
    width: 18px;
    height: 19px;
    margin-top: 25px;
    margin-left: 33px;
}
.webhooks__filters{
    margin-bottom:25px;
}
.vk{
    background: url(../img/ikonki.png) no-repeat -83px -6px;
    background-size: 182px;
}
.instagram{
    background: url(../img/ikonki.png) no-repeat -156px -6px;
    background-size: 182px;
}
.facebook{
    background: url(../img/ikonki.png) no-repeat -8px -6px;
    background-size: 182px;
}
.twitter{
    background: url(../img/ikonki.png) no-repeat -32px -6px;
    background-size: 182px;
}
.okru{
    background: url(../img/ikonki.png) no-repeat -107px -6px;
    background-size: 182px;
}
.webhooks p{
    background: url(../img/postBg.png) no-repeat;
    float: left;
    padding-left: 26px;
    padding-top: 21px;
    margin-left: 16px;
    margin-top: 30px;
    width: 750px;
    word-wrap: break-word;
}
.webhooks .webhook__get{
    float: right;
    margin-top: -24px;
    border: 1px solid #00c771;
    background: #00c771;
    color: #fff;
    margin-right: 14px;
    border-radius: 4px;
    padding: 4px;
}
.webhooks .webhooks__point{
    background: url(../img/point.png) no-repeat;
    float: right;
    margin-top: -34px;
    padding-left: 14px;
    width: 148px;
    font-size: 14px;
    clear: both;
}
.main-box-body .pagination>li>a, .main-box-body .pagination>li>span {
    position: relative;
    float: left;
    width: 50px;
    text-align: center;
    padding: 6px;
    line-height: 1.42857143;
    text-decoration: none;
    color: #337ab7;
    background-color: #fff;
    border: 1px solid #ddd;
    margin-left: -1px;
}

.webhooks p.webhooks__authorName{
    background: none;
    float: left;
    padding-left: 0;
    padding-top: 0;
    margin-left: 0;
    margin-top: 5px;
    max-width: 100%;
    font-size: 13px;
    word-wrap: break-word;
    text-align: center;
    display: block;
}

.webhooks .webhook__datas{
    float: right;
    width: 185px;
    /* clear: both; */
    margin-top: 0;
    padding: 10px;
}

.webhooks .webhook__datas ul{
    padding-left: 22px;
}
.webhooks .webhook__datas ul li{
    font-size: 12px;
    list-style: none;
    border-bottom: 1px solid #00c771;
    /*background: #00c771;*/
}

.contact {
    border-top: 5px solid #78ddfc;
    border-bottom: 2px solid #ccc;
    border-left: 2px solid #ccc;
    border-right: 2px solid #ccc;
}

.contact__image{
    width: 70px;
    height:70px;
    border-radius:100%;
}
.ss{
    width: 18px;
    height: 18px;
    margin-top: 10%;
}
.contact__text{
    text-align: center;
    font-size: 13px;
    line-height: 25px;
}
.contact__post{
    text-align: left;
    font-size: 13px;
}
.webhooks__point{
    font-size: 13px;
    line-height: 50px;
}
.webhooks__point i {
    margin-right:10px;
}
.top-margin-10{
    margin-top:10px;
}
.bottom-margin-10{
    margin-bottom: 10px;
}
.top-margin-15{
    margin-top:15px;
}
.top-margin-20{
    margin-top:20px;
}
.top-margin-25{
    margin-top:25px;
}
.right-margin-10{
    margin-right: 10px;
}

.col-lg-6 .pagination>li {
    display: inline;
    position: relative;
    left: -50%;
    float: left;
}

.col-lg-6 .pagination {
    margin: 0 auto;
    display: block;
    position: relative;
    left: 50%;
}


@media (max-width: 419px){
    .form-control {
        margin-bottom: 10px;
    }
    .getBtn a{
        width: 100%;
        margin-bottom: 10px;
    }
    .main-box-body .pagination>li>a, .main-box-body .pagination>li>span {
        width: 31px;
        margin-bottom: 25px;
    }
}
table.noTop tbody > tr:first-child > td {
    border-top: 0px solid #e7ebee;
}
.accountsMenu li a{
    cursor:pointer;
}
div.minTable{
    width: 360px;
    margin: 0 auto;
}
div.minTable table {
    table-layout: fixed;
    width: 100%;
}
div.minTable table tbody tr td, div.minTable table tbody tr td th {
    width: 2%;
    border-top: 1px solid #fff;
}
.wizard-modal p {
    margin: 0 0 10px;
    padding: 0;
}
#wizard-ns-detail-servers, .wizard-additional-servers {
    font-size: 12px;
    margin-top: 10px;
    margin-left: 15px;
}
#wizard-ns-detail-servers > li, .wizard-additional-servers li {
    line-height: 20px;
    list-style-type: none;
}
#wizard-ns-detail-servers > li > img {
    padding-right: 5px;
}

.wizard-modal .chzn-container .chzn-results {
    max-height: 150px;
}
.wizard-addl-subsection {
    margin-bottom: 40px;
}
.create-server-agent-key {
    margin-left: 15px;
    width: 90%;
}
li.wizard-nav-item {
    width: 100%;
}
.scroll-block{
    overflow: scroll;
    width: 380px;
    height: 220px;
    padding-left: 15px;
}